{% extends 'backend/base.html' %}

{% block title %}Business News - NewsFeed{% endblock %}

{% block content %}
<main class="main-content">
    <section class="featured-news">
      <h2>Top News BBC</h2>
      <div class="featured-card">
        <img src="{{ article.urlToImage }}" alt="Featured News">
        <div class="featured-content">
          <h3>{{ article.title }}</h3>
          <p>{{article.source.name}}</p>
          <p>{{ article.description }}</p>
          <small>published at {{ article.publishedAt }}</small>
          <a href="{{ article.url }}" target="_blank" class="read-more">Read More</a>
        </div>
      </div>
    </section>

    <section class="news-feed">
      <h2>Latest News</h2>
      <div class="news-grid">
        <div class="news-card">
          <img src="{{ more.urlToImage }}" alt="Trending">
          <h3>{{ more.title }}</h3>
          <p>{{ more.description }}</p>
          <a href="{{ more.url }}" target="_blank" class="read-more">Read More</a>
        </div>
        <div class="news-card">
          <img src="{{ additional.urlToImage }}" alt="Trending">
          <h3>{{ additional.title }}</h3>
          <p>{{ additional.description }}</p>
          <a href="{{ additional.url }}" target="_blank" class="read-more">Read More</a>
        </div>
        <div class="news-card">
          <img src="{{ extra.urlToImage }}" alt="Trending">
          <h3>{{ extra.title }}</h3>
          <p>{{ extra.description }}</p>
          <a href="{{ extra.url }}" target="_blank" class="read-more">Read More</a>
        </div>
      </div>
    </section>
    
    <section class="news-feed">
        <h2>Latest News</h2>
        <div class="news-grid">
          <div class="news-card">
            <img src="{{ random_0.urlToImage }}" alt="Trending">
            <h3>{{ random_0.title }}</h3>
            <p>{{ random_0.description }}</p>
            <a href="{{ random_0.url }}" target="_blank" class="read-more">Read More</a>
          </div>
          <div class="news-card">
            <img src="{{ random_1.urlToImage }}" alt="Trending">
            <h3>{{ random_1.title }}</h3>
            <p>{{ random_1.description }}</p>
            <a href="{{ random_1.url }}" target="_blank" class="read-more">Read More</a>
          </div>
          <div class="news-card">
            <img src="{{ random_5.urlToImage }}" alt="Trending">
            <h3>{{ random_5.title }}</h3>
            <p>{{ random_5.description }}</p>
            <a href="{{ random_5.url }}" target="_blank" class="read-more">Read More</a>
          </div>
        </div>
  </section>

    
  </main>
{% endblock %}