{% extends 'backend/base.html' %}

{% block title %}About Me{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Contact Information</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p><strong>Name:</strong> Allan Nabule</p>
            <p><strong>Email:</strong> nabuleallan1@gmail.com</p>
            <p><strong>Phone Number:</strong> 0725506262</p>
            <p><strong>Social Media:</strong></p>
            <ul>
                <li><a href="https://x.com/nabule_allan" target="_blank">Twitter</a></li>
                <li><a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile" target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/Nebula0999" target="_blank">GitHub</a></li>
                <li><a href="https://www.instagram.com/classic_allan/profilecard/?igsh=NTlwNTdld2tvam0x" target="_blank">Instagram</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}